@use "build/scss/variables";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  background-color: variables.$primary;
  backdrop-filter: blur(5px);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  text-decoration: none;
}

.logo {
  font-size: 24px;
  font-weight: 900;
  text-decoration: none;
  color: #151515;
}

.navLinks {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.navLinks a {
  color: #151515;
  text-decoration: none;
  cursor: pointer;
}
